.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.pdm.toml
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
/pyscript_examples/integrations/11_micropython_datetimes/datetimes.py
/pyscript_examples/integrations/11_micropython_datetimes/index.html
/pyscript_examples/integrations/12_ltk/ltk/ltk.css
/pyscript_examples/integrations/12_ltk/ltk/ltk.js
/pyscript_examples/integrations/12_ltk/index.html
/pyscript_examples/integrations/12_ltk/pyscript-ltk.json
/pyscript_examples/integrations/12_ltk/use_ltk.py
/pyscript_examples/integrations/13_jinja/index.html
/pyscript_examples/integrations/13_jinja/pyscript-jinja2.json
/pyscript_examples/integrations/13_jinja/use_jinja2.py
/pyscript_examples/tutorial/01_hello_world/hello_world.py
/pyscript_examples/tutorial/01_hello_world/index.html
/pyscript_examples/tutorial/02_hello_name/hello_name.py
/pyscript_examples/tutorial/02_hello_name/index.html
/pyscript_examples/tutorial/03_counter/counter.py
/pyscript_examples/tutorial/03_counter/index.html
/pyscript_examples/tutorial/04_refs_problem/index.html
/pyscript_examples/tutorial/04_refs_problem/refs_problem.py
/pyscript_examples/tutorial/04_refs_problem/refs_solution.py
/pyscript_examples/tutorial/04_refs_problem/solution.html
/pyscript_examples/tutorial/05_watchers/index.html
/pyscript_examples/tutorial/05_watchers/watchers.py
/pyscript_examples/tutorial/06_components/components.py
/pyscript_examples/tutorial/06_components/index.html
/pyscript_examples/tutorial/07_routing/index.html
/pyscript_examples/tutorial/07_routing/routing.py
/pyscript_examples/tutorial/08_libraries/index.html
/pyscript_examples/tutorial/08_libraries/libraries.py
/pyscript_examples/tutorial/08_libraries/pyscript-bs.json
/pyscript_examples/tutorial/09_webcomponents/index.html
/pyscript_examples/tutorial/09_webcomponents/webcomponents.py
/pyscript_examples/tutorial/10_full_app/app.css
/pyscript_examples/tutorial/10_full_app/common.py
/pyscript_examples/tutorial/10_full_app/components.py
/pyscript_examples/tutorial/10_full_app/index.html
/pyscript_examples/tutorial/10_full_app/main.py
/pyscript_examples/tutorial/10_full_app/pages.py
/pyscript_examples/tutorial/10_full_app/pyscript-app.json
/pyscript_examples/__init__.py
/pyscript_examples/index.html
/pyscript_examples/puepy-0.3.3-py3-none-any.whl
/pyscript_examples/pyscript.json
/pyscript_examples/README.md
